{% extends 'base.html.twig' %}

{% block body %}
  <h1>Ticket #{{ ticket.id }}</h1>

  <p>{{ ticket.content }}</p>

  {{ vue_component(
    'TicketAiAnalysis',
    { ticketId: ticket.id }
  ) }}
{% endblock %}
